.ipynb_checkpoints
app.py
important_indices.pkl
modelo_sql_injection_reduced.pkl
pipeline_sql_injection.pkl
sqlinjection_ml-Copy1.ipynb
templates/
vectorizer_tfidf.pkl
model_rf_word2vec.pkl
model_word2vec.pkl
__pycache__/
